.benefits {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: @vertical-indent-mobile;

  @media (min-width: @tablet-width) {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: @vertical-indent-tablet ;
  }

  @media (min-width: @desktop-width) {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: @vertical-indent-desktop;
  }
}

.benefits__text {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 @horizontal-indent;
  max-width: @container-max-width;
  margin: 0 auto @vertical-indent-mobile auto;

  @media (min-width: @tablet-width) {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto @vertical-indent-tablet auto;
  }

  @media (min-width: @small-desktop-width) {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: @vertical-indent-desktop;
  }
}

.benefits__wrapper {
  background-color: @lite-warm;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @vertical-indent-mobile @horizontal-indent;

  @media (min-width: @tablet-width) {
    padding: @vertical-indent-tablet @horizontal-indent;
  }

  @media (min-width: @small-desktop-width) {
    background-image: url("/img/test_yellow1.jpg");
    background-size: 760px auto;
    background-repeat: no-repeat;
    background-position: bottom -100px right calc(50% - 360px);
  }

  @media (min-width: @desktop-width) {
    padding: @vertical-indent-desktop @horizontal-indent;
  }

  .sub-title {
    margin-bottom: 40px;
    max-width: 750px;

    @media (min-width: @tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 80px;
    }
  }
}

.benefits__list {
  max-width: @container-max-width;
  box-sizing: border-box;
  display: block;

  @media (max-width: @tablet-width - 1px) {
    font-size: 1.4rem;
    line-height: 2.143rem;
  }

  @media (max-width: @small-desktop-width - 1px) {
    align-self: center;
  }

  @media (min-width: @small-desktop-width) {
    min-width: 860px;
    width: 100%;
  }

  li {
    @media (min-width: @tablet-width) {
      margin-bottom: 40px;
    }

    &:before {
      background: no-repeat url("./../img/svg/yes-yellow.svg");
      background-size: contain;
    }

    a {
      color: @dark-text-color;
      text-decoration: none;

      @media (max-width: @small-desktop-width - 1px) {
        background-image: none;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      @media (max-width: @tablet-width - 1px) {
        display: none;
      }
    }
  }
}
