.benefits {
  font-size: 2rem;
  line-height: 2.856rem;
  margin-bottom: 60px;

  @media (max-width: @tablet-width) {
    font-size: 1.43rem;
    line-height: 2.143rem;
    margin-bottom: 40px;
  }
}

.benefits__wrapper {
  background-color: @lite-warm;
  display: flex;
  min-height: 100vh;
  padding: 50px 0;

  @media (max-width: @tablet-width) {
    padding: 40px 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    position: relative;
    z-index: 0;
  }
}

.benefits__text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
  padding: 0;

  @media (max-width: @tablet-width) {
    text-align: left;
    padding: 0 20px;
  }
}

.benefits__title {
  margin: 0 0 60px 0;

  @media (max-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.benefits__img {
  height: auto;
  position: absolute;
  right: -250px;
  bottom: -50px;
  width: 580px;
  height: auto;
  z-index: -1;

  @media (max-width: @small-desctop-width) {
    display: none;
  }

  @media (min-width: @small-desctop-width) AND (max-width: @desctop-width) {
    width: 50vw;
    height: auto;
    right: -10vw;
    bottom: 0vw;
  }
}

.benefits__list {
  @media (max-width: @small-desctop-width) {
    align-self: center;
  }

  li {
    @media (max-width: @tablet-width) {
      font-size: 1.57rem;
      line-height: 2.143rem;
    }

    &:before {
      background: no-repeat url("./../img/svg/yes_yellow.svg");
      background-size: contain;
    }

    &,
    &:last-child {
      margin-bottom: 0px;
    }
  }

  a {
    color: @dark-text-color;
    text-decoration: none;
  }
}
