.benefits {
  font-size: 1.4rem;
  line-height: 2.2rem;

  @media (min-width: @tablet-width) {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  @media (min-width: @desktop-width) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.benefits__text {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 @horizontal-indent;
  max-width: @container-max-width;
  margin: 0 auto;
  padding-bottom: @vertical-indent-mobile-bottom;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: @vertical-indent-tablet-bottom;
    margin: 0 auto;
  }

  @media (min-width: @small-desktop-width) {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-bottom: @vertical-indent-desktop-bottom;
  }
}

.benefits__paragraph-wrapper {
  display: block;
  margin: 0;
  transform: translate(0, 0);

  .animation-apear--hide-elem {
    transform: translate(0, 110%);
  }

  &.animation-apear--active .animation-apear--hide-elem {
    transform: translate(0, 0);
  }

  p {
    margin: 0;
  }

  & + & {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

.benefits__wrapper {
  background-color: @lite-warm;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @vertical-indent-mobile @horizontal-indent @vertical-indent-mobile-bottom @horizontal-indent;

  @media (min-width: @tablet-width) {
    padding: @vertical-indent-tablet @horizontal-indent @vertical-indent-tablet-bottom @horizontal-indent;
  }

  @media (min-width: @small-desktop-width) {
    background-image: url("/img/test.png");
    background-size: 760px auto;
    background-repeat: no-repeat;
    background-position: bottom right calc(50% - 360px);
  }

  @media (min-width: @desktop-width) {
    padding: @vertical-indent-desktop @horizontal-indent @vertical-indent-desktop-bottom @horizontal-indent;
  }

  .sub-title {
    margin-bottom: 40px;
    max-width: 750px;

    @media (min-width: @tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 80px;
    }
  }
}

.benefits__list {
  max-width: @container-max-width;
  box-sizing: border-box;
  display: block;
  margin-bottom: 60px;

  @media (max-width: @tablet-width - .02px) {
    font-size: 1.4rem;
    line-height: 2.143rem;
  }

  @media (max-width: @small-desktop-width - .02px) {
    align-self: center;
  }

  @media (min-width: @small-desktop-width) {
    min-width: 860px;
    width: 100%;
  }

  li {
    @media (min-width: @tablet-width) {
      margin-bottom: 40px;
    }

    &:before {
      background: no-repeat url("./../img/svg/yes-yellow.svg");
      background-size: contain;
    }

    a {
      color: @dark-text-color;
      text-decoration: none;

      @media (max-width: @small-desktop-width - .02px) {
        background-image: none;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      @media (max-width: @tablet-width - .02px) {
        display: none;
      }
    }
  }

  &.animation-apear--hide-elem {
    transform: translate(-100%, 0);
  }

  &.animation-apear--active {
    transform: translate(0, 0);
  }
}
