.cart-front,
.cart-back {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  max-height: 95%;
  padding: 40px 10px 70px 10px;
  box-shadow: 0 10px 20px -6px @dark-text-color;
  box-sizing: border-box;
  transition: .7s;
  backface-visibility: hidden;
}

.cart-front {
  align-items: center;
  position: relative;
  background-image: image-set(
    url("./../img/books.jpg") 1x,
    url("./../img/books@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 80%;
  z-index: 1;
  display: grid;
  grid-template-rows: max-content;
  align-items: start;

  &:before {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: @theme-color;
    opacity: .85;
    z-index: -1;
  }

  &:after {
    content: "*Цена указана за месяц обучения (длительность занятия - 90 минут)";
    font-size: .7rem;
    line-height: 1.2rem;
    text-align: center;
    width: 75%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.cart-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @lite-warm;
  transform: rotateY(180deg);
}
