.contacts {
  background-color: @lite-warm;
  display: flex;
  padding: @vertical-indent-mobile @horizontal-indent @vertical-indent-mobile-bottom @horizontal-indent;


  @media (min-width: @tablet-width) {
    padding: @vertical-indent-tablet @horizontal-indent @vertical-indent-tablet-bottom @horizontal-indent;
  }

  @media (min-width: @desktop-width) {
    padding: @vertical-indent-desktop @horizontal-indent @vertical-indent-desktop-bottom @horizontal-indent;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: @container-max-width;
  font-size: 1.4rem;
  line-height: 2.143rem;
  margin: auto;

  @media (min-width: @tablet-width) {
    font-size: 2rem;
    line-height: 2.429rem;
  }
}

.contacts__title {
  margin: 0 0 15px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 30px 0;
  }
}

.contacts__adress {
  text-align: center;
  margin: 0 0 30px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 40px 0;
  }
}

.contacts__map {
  box-shadow: 0 5px 25px -6px @dark-text-color;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0 0 40px 0;
  }

  iframe {
    display: block;
    width: 100%;
    height: 500px;
    background-image: url("/img/map-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/map-mobile@2x.jpg");
    }

    @media (min-width: @small-desktop-width) {
      background-image: url("/img/map-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("/img/map-desktop@2x.jpg");
      }
    }
  }
}

.contacts__links {
  display: grid;
  align-items: start;
  gap: 40px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(440px, max-content));
  margin-bottom: 60px;

  a {
    display: block;
    margin: 0 auto;
    width: max-content;
    text-decoration: none;
    color: inherit;
    .underline();

    &:hover,
    &:active,
    &:focus {
      @media (min-width: @small-desktop-width) {
        .underline__hover();
      }
    }
  }
}

.contacts__numbers {
  display: grid;
  justify-content: center;
  gap: 15px;
  text-align: center;

  &.animation-apear--hide-elem {
    transform: translate(-110%, 0);
  }

  &.animation-apear--active {
    transform: translate(0, 0);
  }
}

.contacts__email {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 15px;

  &.animation-apear--hide-elem {
    transform: translate(110%, 0);
  }

  &.animation-apear--active {
    transform: translate(0, 0);
  }
}
