.contact-us__wrapper {
  display: flex;
  justify-content: center;
  width: auto;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 420px;
  }

  &.animation-apear--hide-elem {
    transform: translate(0, 110%);
  }

  &.animation-apear--active {
    transform: translate(0, 0);
  }
}

.contact-us__button {
  margin: 0 20px;
  padding: 20px;
}
