.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  margin: 10px 10px 0 10px;
  padding: 40px 30px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: @theme-color;
  box-shadow: 0 10px 20px -6px @dark-text-color;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @media (min-width: @tablet-width) {
    max-width: 600px;
    padding: 60px;
  }

  .button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min-content;
    min-height: 60px;
    margin: 0;
    max-width: 100%;

    @media (min-width: @tablet-width) {
      min-height: 80px;
    }
  }
}

.form__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  top: 7px;
  right: 7px;
  cursor: pointer;
  background-color: @theme-color;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
  }

  div {
    width: 20px;
    height: 20px;
    position: relative;
    transition: transform .3s;

    @media (min-width: @tablet-width) {
      width: 25px;
      height: 25px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */
      background-color: @dark-text-color;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:hover {
    div {
      transform: rotate(180deg);
      transition: transform .3s;
    }
  }
}

.form__title {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.form__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
}

.form__wrapper {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-size: 1.2rem;
  line-height: 1.8rem;

  @media (min-width: @tablet-width) {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  input,
  textarea,
  .form__select {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 12px;
    border: 2px solid rgba(@dark-text-color, .3);
    outline: none;
    border-radius: 10px;
    background-color: @theme-color;
    color: @dark-text-color;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      font-size: 1.6rem;
      line-height: 2.1rem;
      padding: 25px;
    }

    &::placeholder {
      color: rgba(@dark-text-color, .3);
      opacity: 1;
    }

    &:hover,
    &:focus {
      border-color: @dark-text-color;
    }
  }

  textarea {
    resize: none;
    text-align: left;
  }

  &.error {
    position: relative;

    &:before {
      content: "";
      font-size: 1rem;
      line-height: 1.6rem;
      position: absolute;
      width: 90%;
      height: auto;
      padding: 12px;
      box-sizing: border-box;
      bottom: -4px;
      left: 50%;
      transform: translate(-50%,100%);
      border-radius: 10px;
      border: 2px solid #2f1f18;
      color: #2f1f18;
      background-color: #efecec;

      z-index: 1010;

      @media (min-width: @tablet-width) {
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding: 15px 25px;
      }
    }

    &:after {
      content: "";
      width: 11px;
      height: 11px;
      background-color: #efecec;
      left: 10%;
      bottom: -11px;
      position: absolute;
      border-left: 2px solid #2f1f18;
      border-top: 2px solid #2f1f18;
      transform: rotate(45deg);
      z-index: 1011;
    }

    input,
    textarea {
      border-color: rgba(red, .5);
      box-shadow: 0 0 15px red;
      animation: 1.5s ease-in-out trambling;
    }
  }

  &.form__field--name.error:before {
    content: "Введены запрещенные символы. Пример: Иванов Иван";
  }

  &.form__field--phone.error:before {
    content: "Неверный формат номера. Пример: 8900 000 0000";
  }

  &.form__field--comment.error:before {
    content: "Допустимы символы только русского алфавита";
  }
}

.form__field--select {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 25px;
    right: 15px;
    background-color: transparent;
    border-bottom: 1px solid @dark-text-color;
    border-left: 1px solid @dark-text-color;
    transform: rotate(-45deg);

    @media (min-width: @tablet-width) {
      width: 15px;
      height: 15px;
      bottom: 36px;
      right: 25px;
    }
  }

  .form__select {
    appearance: none;
    padding-right: 30px;
  }
}

.form__label {
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.form__first-page.close{
  display: none;
}

.form__second-page {
  display: none;

  &.open {
    display: block;
  }
}
