.logo__svg {
  // duration |timing-function |delay |iteration-count |direction |fill-mode |play-state |name
  animation: 8s ease-in-out infinite jiggle;
}

.logo__title {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.logo__sub-title {
  margin: 0;
  font-size: .67rem;
  line-height: 1.1rem;
}
