.logo__svg {
  // duration |timing-function |delay |iteration-count |direction |fill-mode |play-state |name
  animation: 3s ease-in-out 5s infinite jiggle;
  transform-origin: right;
}

.logo__title {
  margin: 0 0 5px 0;
  font-size: 20px;
  line-height: 24px;
}

.logo__sub-title {
  margin: 0;
  font-size: 10px;
  line-height: 16px;
}
