.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: @container-max-width;
  padding: 20px @horizontal-indent 0 @horizontal-indent;
  margin: 0 0 @vertical-indent-mobile 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 130px 1fr 180px;
    gap: 5px;
    padding: 0 @horizontal-indent;
    margin: 10px auto @vertical-indent-tablet auto;
  }

  @media (min-width: @small-desktop-width) {
    padding: 0;
    gap: 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 20px auto @vertical-indent-desktop auto;
  }
}

.nav__logo {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: @dark-text-color;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    @media (min-width: @small-desktop-width) {
      .logo__title {
        .underline__hover();
      }

      .logo__img {
        animation-play-state: paused;
      }

    }
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 30px @horizontal-indent;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.86rem;
  line-height: 2.57rem;

  @media (max-width: @tablet-width - .02px) {
    background-color: @theme-color;
    box-shadow: 0 5px 20px -6px @dark-text-color;
    transition: .5s;
    transform-origin: right center;
    transform: translate(-10%) scaleX(0);
    opacity: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-weight: 700;
    justify-content: space-around;
    padding: 0;
    font-size: 1.4rem;
  }

  @media (min-width: @small-desktop-width) {
    font-size: 2.2rem;
  }

  a {
    text-decoration: none;
    color: @dark-text-color;
  }
}

.nav__list--active {
  @media (max-width: @tablet-width - .02px) {
    transform: translate(0%) scaleX(1);
    opacity: 1;
    z-index: 900;
  }
}

.nav__list li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  min-width: 210px;
  width: 60%;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0 10px 0 0;
    min-width: auto;
    width: auto;
  }

  &:after {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: -10px;
    background: rgba(@light-dark, .3);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:last-child {
    margin: 0;

    &:after {
      display: none;
    }
  }

  a {
    cursor: pointer;
    @media (min-width: @small-desktop-width) {
      .underline();

      &:hover,
      &:active,
      &:focus {
        .underline__hover();
      }
    }
  }
}

.nav__menu-btn {
  right: 15px;
  cursor: pointer;
  z-index: 901;

  &.menu-btn--active {
    top: -20px;
    right: -20px;
    align-self: flex-start;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.nav__contacts {
  display: none;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.nav__address {
  margin-bottom: 5px;
}

.nav__phones {
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
    text-decoration: none;
    width: max-content;
    cursor: pointer;

    @media (min-width: @small-desktop-width) {
      .underline();

      &:hover,
      &:active,
      &:focus {
        .underline__hover();
      }
    }
  }
}
