.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 960px;
  padding: 20px 20px 0 20px;
  margin: 0 0 40px 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 130px 1fr 180px;
    gap: 20px;
    padding: 0 20px;
    margin: 10px auto 60px auto;
  }

  @media (min-width: @small-desctop-width) {
    padding: 0;
    gap: 40px;
  }
}

.nav__logo {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: @dark-text-color;

  &:hover {
    @media (min-width: @tablet-width) {
      .logo__title,
      .logo__sub-title {
        opacity: @hover-opacity;
      }

      .logo__svg {
        animation-play-state: paused;
      }

    }
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 30px 20px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.86rem;
  line-height: 2.57rem;

  @media (max-width: @tablet-width - 1px) {
    background-color: @theme-color;
    box-shadow: 0 5px 20px -6px @dark-text-color;
    transition: .5s;
    transform-origin: right center;
    transform: translate(30%) scaleX(0);
    opacity: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-weight: 700;
    justify-content: space-around;
    padding: 0;
    font-size: 1.7rem;
  }

  @media (min-width: @small-desctop-width) {
    font-size: 2.2rem;
  }

  a {
    text-decoration: none;
    color: @dark-text-color;
  }
}

.nav__list--active {
  @media (max-width: @tablet-width - 1px) {
    transform: translate(0%) scaleX(1);
    opacity: 1;
  }
}

.nav__list li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  min-width: 200px;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0 20px 0 0;
    min-width: auto;
  }

  &:after {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: -10px;
    background: rgba(@light-dark, .3);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:last-child {
    margin: 0;

    &:after {
      display: none;
    }
  }

  &:hover {
    opacity: .6;
    top: 2px;
  }

  &:active,
  &:focus {
    opacity: .4;
    top: 2px;
  }
}

.nav__menu-btn {
  right: 15px;

  &.menu-btn--active {
    top: -20px;
    right: -20px;
    align-self: flex-start;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.nav__contacts {
  display: none;
  // width: 100%;
  // max-width: 200px;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.nav__address {
  margin-bottom: 5px;
}

.nav__phones {
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: .6;
    }

    &:active,
    &:focus {
      opacity: .4;
    }
  }
}
