.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: @container-max-width;
  margin: 0 auto;
  padding: @vertical-indent-mobile @horizontal-indent @vertical-indent-mobile-bottom @horizontal-indent;

  @media (min-width: @tablet-width) {
    padding-top: @vertical-indent-tablet;
    padding-bottom: @vertical-indent-tablet-bottom;
  }

  @media (min-width: @desktop-width) {
    padding: @vertical-indent-desktop 0 @vertical-indent-desktop-bottom 0;
  }
}

.price__title {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}
