.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: @container-max-width;
  margin: auto;
  margin-bottom: @vertical-indent-mobile;
  padding: @vertical-indent-mobile @horizontal-indent 0 @horizontal-indent;

  @media (min-width: @tablet-width) {
    padding-top: @vertical-indent-tablet;
    margin-bottom: @vertical-indent-tablet;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: @vertical-indent-desktop;
    padding: 0;
    padding-top: @vertical-indent-desktop;
  }
}

.price__title {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}
