.reviews {
  background-color: @lite-warm;
  display: flex;
  flex-direction: column;
  padding: @vertical-indent-mobile @horizontal-indent @vertical-indent-mobile-bottom @horizontal-indent;

  @media (min-width: @tablet-width) {
    padding: @vertical-indent-tablet @horizontal-indent @vertical-indent-tablet-bottom @horizontal-indent;
  }

  @media (min-width: @desktop-width) {
    padding: @vertical-indent-desktop @horizontal-indent @vertical-indent-desktop-bottom @horizontal-indent;
  }
}

.reviews__wrapper {
  margin-bottom: 60px;
}

.reviews__content {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.reviews__title {
  margin: 0 0 40px 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }
}

.review__name {
  font-weight: 900;
}
