.social-list__item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 700;

  span {
    .underline();
  }

  &:hover span,
  &:active span {
    @media (min-width: @small-desktop-width) {
      transition: all .2s linear;
      .underline__hover();
    }
  }

  svg {
    margin-right: 8px;
    filter: drop-shadow(1px 1px 1px hsla(0, 11.9%, 21.4%, .3));

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.social-list__item--vk {
  svg {
    @media (min-width: @tablet-width) {
      width: 50px;
      height: 50px;
    }
  }
}

.social-list__item--facebook {
  svg {
    top: -2px;
    position: relative;
  }
}

.social-list__item--instagram {
  svg {
    position: relative;
    top: -2px;

    @media (min-width: @tablet-width) {
      margin-right: 15px;
    }
  }
}
