.tariffs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 300px));
  justify-content: center;
  gap: 30px 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

.tariffs__element {
  position: relative;
  text-align: center;
  min-height: 360px;

  &:last-child {

    .cart-front:after {
      content: "*Цена указана за одно занятие";
    }
  }

  &:hover {
    @media (min-width: @small-desctop-width) {
      top: -20px;

      .cart-front {
        transform: rotateY(180deg);
      }

      .cart-back {
        transform: rotateY(360deg);
      }
    }
  }
}

.tariffs__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 900;
  display: block;
  margin-bottom: 30px;

  @media (min-width: @desctop-width) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.tariffs__description {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

.tariffs__price {
  display: block;
  font-weight: 700;
}

.tariffs__price b {
  font-size: 1.8rem;
  font-weight: 900;
}
