.training-effort {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: @container-max-width;
  padding: 0 @horizontal-indent;
  margin-bottom: @vertical-indent-mobile;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas:
      "title title"
      "picture list";
      gap: 40px 0;
    padding: 0;
    margin: 0 auto @vertical-indent-tablet auto;
  }

  @media (min-width: @small-desktop-width) {
    grid-template-columns: 1fr 400px;
  }

  @media (min-width: @desktop-width) {
    gap: 60px 0;
    margin-bottom: @vertical-indent-desktop;
  }
}

.training-effort__title {
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-area: title;
  }
}

.training-effort__pictures-wrapper {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  position: relative;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    grid-area: picture;
    z-index: -2;
    margin-bottom: 0;
  }

  &.animation-apear--hide-elem {
    transform: translate(-110%, 0);
  }

  &.animation-apear--active-first-block {
    transform: translate(0, 0);
  }
}

.training-effort__img-main {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.training-effort__img-background {
  position: absolute;
  opacity: .2;
  z-index: -1;
  left: -30%;

  @media (min-width: @tablet-width) {
    width: 900px;
    height: 900px;
    top: 80px;
    left: -200px;
  }
}

.training-effort__img-background--1 {
  animation: 12s ease-in-out 2s infinite rotate;
  width: 160%;
  height: 160%;
  top: -20%;

  @media (min-width: @tablet-width) {
    left: -170px;
  }
}

.training-effort__img-background--2 {
  animation: 8s ease-in-out infinite rotate;
  top: -30%;
  width: 160%;
  height: 170%;

  @media (min-width: @tablet-width) {
    animation-delay: 3s;
    left: -100px;
  }
}

.training-effort__img-background--3 {
  animation: 8s ease-in-out 4s infinite rotate;
  top: -40%;
  width: 180%;
  height: 190%;
}

.training-effort__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-area: list;
  }

  &.animation-apear--hide-elem {
    transform: translate(110%, 0);
  }

  &.animation-apear--active-first-block {
    transform: translate(0, 0);
  }

  .sub-title {
    margin-bottom: 15px;

    @media (min-width: @tablet-width) {
      text-align: left;
      margin-bottom: 40px;
    }

    @media (min-width: @small-desktop-width) {
      font-size: 3rem;
      line-height: 3.55rem;
    }
  }
}

.training-effort__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;

  a {
    color: @dark-text-color;
    text-decoration: none;
  }
}
